# for opening file

easygui==0.98.3
conllu==4.2.1

# text processing

spacy==3.5.0
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.3
spacy-pkuseg==0.0.31
spacy-transformers==1.2.1


# statistical processing

numpy==1.20.1
